<!doctype html>
<html lang="en">
  <head>
    <title>Perlin noise | Fireball explosion</title>
    <meta charset="utf-8">
  </head>

  <body>
    <div id="container"></div>
  </body>

  <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.138.0/build/three.module.js",
            "OrbitControls": "https://unpkg.com/three@0.138.0/examples/jsm/controls/OrbitControls.js"
        }
    }
</script>

  <script type="x-shader/x-vertex" id="vertexShader">

    varying vec2 vUv;

    void main() {
    
      vUv = uv;
      gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
    
    }
  </script>

  <script type="x-shader/x-vertex" id="fragmentShader">
    uniform sampler2D texture1;
    varying vec2 vUv;

    void main() {
    
      // colour is RGBA: u, v, 0, 1
      vec4 color1 = texture(texture1, vUv);
      vec4 color2 = vec4( vec3( vUv, 0. ), 1. );
      gl_FragColor = color1; //mix(color1,color2,vUv.x);
    
    }
  </script>

  <script type="module" id="mainCode" src="/static/render.js"></script>

</html>